:root {
	--brown: #704a38;
	--img-filter: invert(30%) sepia(6%) saturate(3193%) hue-rotate(334deg) brightness(96%) contrast(87%);
	--img-filter-hover: invert(46%) sepia(47%) saturate(400%) hue-rotate(338deg) brightness(94%) contrast(91%);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--brown);
	padding: 0;
	margin: 0;
	outline: 0;
	text-decoration: none;
}

html {
	font-family: "Poppins", sans-serif;
}

body {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #f4f3ef;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

main {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	min-width: 280px;
	padding: 10px;
}

.container {
	border: 1px solid var(--brown);
	border-radius: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	width: 320px;
}

.profile-image {
	border: 3px solid var(--brown);
	padding: 5px;
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.social-media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 40px;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	line-height: 40px;
	margin: 15px 0;
}

.social-box {
	height: 40px;
}

.social-box img {
	-webkit-filter: var(--img-filter);
	filter: var(--img-filter);
	height: 35px;
}

.social-box img:hover {
	-webkit-filter: var(--img-filter-hover);
	filter: var(--img-filter-hover);
}

.link-box {
	background: var(--brown);
	border-radius: 4px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	height: 40px;
	line-height: 40px;
	margin: 0 auto 10px auto;
	text-transform: uppercase;
}

.link-box:hover {
	background: #ffffff;
	border: 2px solid var(--brown);
	color: var(--brown);
	line-height: 36px;
}

.link-box a {
	color: unset;
}

footer {
	min-width: 280px;
	text-align: center;
}

.thenextbunny p {
	font-size: 14px;
}

.thenextbunny .social {
	margin: 10px 0;
}

.thenextbunny img {
	border-radius: 3px;
	height: 25px;
	padding: 0 2px;
}

.thenextbunny img {
	-webkit-filter: var(--img-filter);
	filter: var(--img-filter);
}

.thenextbunny img:hover {
	-webkit-filter: var(--img-filter-hover);
	filter: var(--img-filter-hover);
}

/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.container {
		border: none;
		width: 280px;
	}

	.profile-image {
		height: 180px;
		width: 180px;
	}

	.link-box {
		border: 2px solid var(--brown);
		background: #ffffff;
		color: var(--brown);
		font-size: 13px;
	}
}
